<div [ngClass]="isFail ? 'invisib' : 'visib'">
    <div [ngClass]="isLoading ? 'invisib' : 'visib'">
        <div mat-dialog-content>
            <h3>Ajouter une nouvelle habitation</h3>

            <input type="checkbox" id="isind" [(ngModel)]="habitation.isIndividual"><label for="isind">Habitaion
            Individuelle</label>
            <div>
                <input matInput [(ngModel)]="habitation.proprietaire" placeholder="Nom du proprietaire">
                <input matInput [(ngModel)]="habitation.adresse" placeholder="Adresse">
            </div>

            <div>
                <input matInput [(ngModel)]="habitation.surface" placeholder="Surface">
                <input matInput [(ngModel)]="habitation.nbreDePiece"
                       [ngClass]="habitation.isIndividual ? 'visib' : 'invisib'" placeholder="Nombre de piece">
                <input matInput [(ngModel)]="habitation.nbreEmploye"
                       [ngClass]="habitation.isIndividual ? 'invisib' : 'visib'" placeholder="Nombre d'employer">
            </div>

            <div>
                <input type="checkbox" id="havep" [(ngModel)]="habitation.havePiscine"
                       (click)="displayChechValue()"><label for="havep">Équipée de piscine</label>
            </div>

        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Annuler</button>
            <button mat-button (click)="edit()" class="btn btn-primary" cdkFocusInitial>Enregistrer</button>
        </div>
    </div>

    <div [ngClass]="isLoading ? 'visib' : 'invisib'">
        <p class="text-center text-white">Envoi en cours ....</p>
    </div>
</div>


<div [ngClass]="isFail ? 'visib' : 'invisib'">
    <p class="text-center text-white">Echec de l'operation. Verifier votre connexion svp.</p>
    <button mat-button (click)="toggleFail()">Ok</button>
</div>
