.example-fill-remaining-space{
    flex: 1 1 auto;
}

.menu-item{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.ajout:hover{
     background-color: darkred;
}

.list{
    color: black;
    border-bottom: 1px solid darkgray;
}

.icon-action{
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.danger{
    color: darkred;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}
